{% extends "lab_4/layout/base.html" %}

    {% block content %}
    <center><h1 style="font-family: Bell MT">PORTOFOLIO</h1></center>
    <center><img class="fotoprofile" src="https://image.ibb.co/esn3tk/S_12836894.jpg" width="200" height="200"></center>
    <hr/>
    <style>
        .fotoprofile{
            border-radius: 50%
        }
    </style>
    <center><section name="Bio">
        <h2>n i n e t e e n</h2>
        <p>
            {{content}}
        </p>    
    </section></center>
    <hr/>
    <section name="about_me">
        <h2>About Me</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    <section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>
    
    {% endblock %}

